*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.preload * {
  transition: none !important;
}

body {
  font-family: 'Manrope', sans-serif;
  color: $color-light--2;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;
  display: flex;

  @media only screen and (max-width: 64em) {
    display: grid;
    grid-template-rows: 50vh;
  }
}

/* GENERAL */
a:link,
a:visited {
  color: $color-brand--1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba($color-dark--2, 0.3);
}
