/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: $color-dark--1;
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 40em) {
    padding: 2rem;
  }
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: $color-light--1;
}

.twitter-link {
  &:link,
  &:visited {
    color: $color-light--1;
    transition: all 0.2s;
  }

  &:hover,
  &:active {
    color: $color-light--2;
  }
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: $color-light--1;

  @media only screen and (max-width: 64em) {
    grid-row: 1 / 2;
  }
}
